.flex-container{
    height: 700px;
    background-color: #eee;
    /* container의 형식을 flex를 변경
    내부 요소에 자동으로 부여된 margin요소가 모두 사라지고
    content영역 만큼의 크기를 갖게 됨
    */
    display: flex;
    /* item에 별도의 높이가 지정 되어있지 않으면
    item의 높이는 flex-container의 높이를 추종함
    */
    /* flex-direction */
    /* flex-container 전용 속성
        main axis의 방향과 시작 위치를 지정하는 속성
    */
    flex-direction: row;
    /* -reverse,column */

    /* flex-wrap */
    /* 내부요소를 포장하는 속성
        내부요소들이 강제로 한 줄 */
    /* flex-wrap: nowrap; */
    /* default */
    /* wrap-reverse,wrap */

    /* flex-flow */
    /* flex-container의 main axis의 방향, 순서와 여러 줄로 배치에 대한 여부를
    한번에 설정하는 속성 */
    /* flex-direction + flex-wrap */
    /* flex-flow : row-reverse wrap; */

    /* justify-content */
    /* justify = 조정하다 */
    /* ->main axis 방향으로
        내용의 정렬 방법을 결정 */

    /* justify-content: flex-start; */
    /* 중심축 시작으로 정렬 */

    /* justify-content: flex-end; */
    /* 중심축 끝으로 정렬함 */

    /* 중심축 가운데 정렬 */
    /* justify-content: center; */

    /* 내용 주위에 중심축 방향 양쪽으로 공간확보 */
    /* justify-content: space-around; */

    /* 내용요소를 중심축 내에서 동일한 간격을 갖게 하는 설정 */
    /* justify-content: space-evenly; */

    /* 양 끝을 flex-container를 붙게함 */
    justify-content: space-between;


    /* align-items */
    /* 내용요소들을 교차축 방향으로 정렬하는 속성 */
    /* 내용 요소들의 너비 또는 높이를
        flex-container와 같은 크기를 갖도록 설정함
        조건 : 내용요소의 교차축방향의 크기 지정 속성이 없어야함 
    */
    /* align-items: stretch; - default*/
    /* flex -start/-end */
    /* center */
    /* 내용 중심으로 배열 정렬 */
    align-items: baseline;

}

.item2{padding: 7px;}
.item3{padding: 15px;}
.item4{padding: 30px;}

#con{
    height: 450px;
    background-color: #eee;
    display: flex;
    /* flex-wrap: wrap-reverse; */
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
}

#center{
    width: 80px;
    height: 80px;
    background-color: red;

}