<!DOCTYPE html>
<html lang="ko">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title> 제목 </title>
   <link rel="stylesheet" href="../webapp/resources/css/main-style.css">
   <script src="https://kit.fontawesome.com/381a5c9f75.js" crossorigin="anonymous"></script>
</head>
<body>
    
    <header>
        <section class="logo">
            <a href="#"><img src="../resources/images/updatelogo.jpg" alt="logo" class="logo"></a>
        </section>
        <section class="main-title"><a href="#"><img src="../resources/images/title-banner.jpg" alt="" id="title-banner"></a></section>
    </header>

    <nav>
        <div>
            <ul>
                <li><a href="#">공지사항</a></li>
                <li><a href="#">인기게시판</a></li>
                <li><a href="#">운동게시판</a></li>
                <li><a href="#">자유게시판</a></li>
                <li><a href="#">정모게시판</a></li>
            </ul>
        </div>
        <div>
            <a href=""><img src="" alt="등급이미지"></a>
            <a href=""><img src="../resources/images/letter-removebg-preview_negative.png" alt=""></a>
            <a href="#"><img src="../resources/images/pngwing.com.png" alt="" id="people"></a>
            <input type="text" name="search-area" id="search" >
            <button type="button" class="fa-solid fa-magnifying-glass"></button>
        </div>
    </nav>

    <main>
        <div class="announcement">
            <div><a href="#">알립니다</a></div>
            <div><a href=""><span>공지 내용이 어떻게 보일까</span></a></div>
        </div>
        <section class="container">
            <div class="main-content">
                <div class="hot-board">
                    <div><a href="">인기 게시판</a></div>
                    <div>                    
                        <ul>
                            <li><a href=""><span>hot1</span></a></li>
                            <li><a href=""><span>hot2</span></a></li>
                            <li><a href=""><span>hot3</span></a></li>
                            <li><a href=""><span>hot4</span></a></li>
                            <li><a href=""><span>hot5</span></a></li>
                            <li><a href=""><span>hot6</span></a></li>
                            <li><a href=""><span>hot7</span></a></li>
                        </ul>
                    </div>
                </div>
                <div class="new-board">
                    <div><a href="">최근 게시글</a></div>
                    <div>                    
                        <ul>
                            <li><a href=""><span>new1</span></a></li>
                            <li><a href=""><span>new2</span></a></li>
                            <li><a href=""><span>new3</span></a></li>
                            <li><a href=""><span>new4</span></a></li>
                            <li><a href=""><span>new5</span></a></li>
                            <li><a href=""><span>new6</span></a></li>
                            <li><a href=""><span>new7</span></a></li>
                        </ul>
                    </div>
                </div>
                <div class="exercise-board">
                    <div><a href="">운동 게시판</a></div>
                    <div>                    
                        <ul>
                            <li><a href=""><span>exercies1</span></a></li>
                            <li><a href=""><span>exercies2</span></a></li>
                            <li><a href=""><span>exercies3</span></a></li>
                            <li><a href=""><span>exercies4</span></a></li>
                            <li><a href=""><span>exercies5</span></a></li>
                            <li><a href=""><span>exercies6</span></a></li>
                            <li><a href=""><span>exercies7</span></a></li>
                        </ul>
                    </div>
                </div>
                <div class="free-board">
                    <div><a href="">자유 게시판</a></div>
                    <div>                    
                        <ul>
                            <li><a href=""><span>free1</span></a></li>
                            <li><a href=""><span>free2</span></a></li>
                            <li><a href=""><span>free3</span></a></li>
                            <li><a href=""><span>free4</span></a></li>
                            <li><a href=""><span>free5</span></a></li>
                            <li><a href=""><span>free6</span></a></li>
                            <li><a href=""><span>free7</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="sub-content">
                <div class="login-container">
                    <form action="" id="submitLogin">
                        <div>
                            <img src="../resources/images/idIcon.png" alt="idIcon">
                            <input type="text" name="ID" placeholder="아이디">
                        </div>
                        <div>
                            <img src="../resources/images/pwIcon.png" alt="pwIcon">
                            <input type="password" name="ID" placeholder="비밀번호">
                        </div>
                        <button>로그인</button>
                    </form>
                    <div>
                        <a href="#">회원가입</a>
                        <a href="#">아이디/비밀번호 찾기</a>
                    </div>
                </div>
                <div class="add-box">광고</div>
                <div class="met-board">
                    <div><a href="">정모 게시판</a></div>
                    <div>
                        <ul>
                            <li><a href=""><span>met5</span></a></li>
                            <li><a href=""><span>met5</span></a></li>
                            <li><a href=""><span>met5</span></a></li>
                            <li><a href=""><span>met5</span></a></li>
                            <li><a href=""><span>met5</span></a></li>
                        </ul>
                    </div>                    
                </div>
            </div>
        </section>
    </main>

    <footer>
        <p>
            Copyright &copy; KH Information Educational Institute A-Class Group4 UndongIn
        </p>
        <article class="footer-div">
            <a href="#">프로젝트 소개</a>
            <span> | </span>
            <a href="#">이용약관</a>
            <span> | </span>
            <a href="#">개인정보처리방침</a>
            <span> | </span>
            <a href="#">고객센터</a>
        </article>
    </footer>
    <a href=#top>
        <div id="page-top"><img src="../resources/images/Up-Arrow-PNG-Clipart.png" alt="" class="page-top">
        </div>
    </a>
</body>
</html>